/* globals.css */
@import "tailwindcss";

:root {
  --background: #cbdff8;
  --background-dark: #1f1f1f; /* Explicit dark background */
  --foreground: #171717;
  --foreground-dark: #ededed;
}

.dark {
  --background: var(--background-dark);
  --foreground: var(--foreground-dark);
}

@theme inline {
  --color-background: var(--background);
  --color-background-dark: var(--background-dark);
  --color-foreground: var(--foreground);
}
